<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gurzelai.cronometroDucha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CronometroSencillo">
        <activity
            android:name="com.gurzelai.cronometroDucha.MostrarEstadisticas"
            android:parentActivityName="com.gurzelai.cronometroDucha.MainActivity" />
        <activity android:name="com.gurzelai.cronometroDucha.OpcionesColoresDuchas" />
        <activity
            android:name="com.gurzelai.cronometroDucha.MostrarFecha"/>
        <activity
            android:name="com.gurzelai.cronometroDucha.Calendario"
            android:parentActivityName="com.gurzelai.cronometroDucha.MainActivity" />
        <activity android:name="com.gurzelai.cronometroDucha.Cronometro" />
        <activity android:name="com.gurzelai.cronometroDucha.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>